body {
  color: #000 !important;
}

.number {
  font-size: 70px;
}

input {
  font-weight: normal !important;
  text-align: right;
  color: #000 !important;
  font-size: 70px !important;;
  height: 100px !important;
  border: none !important;
}

.form-control :focus {
  outline: 0px !important;
}

input :hover {
  outline: 2px !important;
}
