body {
  color: #000 !important;
}

.navbar { background-color: #003246; }

.text-white { color: #FFF; }

.text-bold { font-weight: bold !important; }

.number { font-size: 70px; }

input {
  width: 100px;
  padding: 0 !important;
  font-weight: normal !important;
  text-align: right;
  color: #000 !important;
  font-size: 70px !important;;
  height: 100px !important;
  border: none !important;
}

.form-group, .form-control :focus {
  outline: 0px !important;
  padding: 0;
}

input:hover {
  outline: 2px !important;
  border: 1px solid #333;
}

.title {
  margin: 7px 0 -9px 14px;
}

